node_modules
ts_out
/VS.lnk
settings.json
private.json
issuesCache.db
/*.7z
dbg_jsons
/histRequestsCache.db
/public/bundle.js
/*.db
/task_list.json
/dbg_fieldMapper.js
/dbg_datetimeWalker.js
/job_list.json
/coverage
/.nyc_output
/nyc_out
/docs/*.~vsdx
coverage
/jiraStub.js
/tests_db
/pnpm-debug.log
/sqlite_bak
/public
survey.json
survey_answers.json
survey_answers_hist.json